/*colors and fonts*/
body {
	background-color: 	rgba(219,112,147,0.2)
}
body {
	font-family: 'Nanum Myeongjo', serif;
}
body {
	font-size: 15px; 
	line-height: 1.6;
	letter-spacing: 1.8px;
}

h1 {
	color: #C70039;
	font-size: 30px;
	letter-spacing: 6px
	font-family: 'Darker Grotesque', sans-serif;
	font-weight: 600;
}
h1 {
	text-align: center;
}
h3 {
	color: #C70039;
	text-align: center;
	text-transform: uppercase;
}

h6 {
	font-family: 'Sansita Swashed', cursive;
}

a { 
	text-decoration: none;
 }

a:hover { 
	color: #C70039
 }

/*custom design with class*/

 #yo {
 	width: 200px;
 }
 .img-circle {

 	border-radius: 180px;
 }
 .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 260px
}
#tabogo {
  	display: block;
  	border-radius: 50%;
    margin-left: auto;
  	margin-right: auto
}

#EHL {
	display: block;
  	border-radius: 50%;
    margin-left: auto;
  	margin-right: auto;
}

.container a{
	text-align: center;
	width:200px;
	margin:auto;
}
.btn-blue {
	background-color: #C70039;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
	display: block;
    text-align: center;
}
.btn-blue {
	align-items: center;
}

.btn-blue:hover {
	background-color: #F08080;
	color: white;
}

.list-inline { 
	list-style: none;
	padding-left: 0px
}

.list-inline li {
	display: inline;
	padding: 8px;
	text-align: center;

}

.list-inline i {
font-size: 50px;
color: #C70039;
}
.list-inline i:hover {
font-size: 60px;
color: #F08080;
}
#introduction p {
	margin-bottom: 40px
}
.card-white {
	padding: 80px
}

.basicinfo { 

	text-align: center;
}
/* Responsive Design*/ 

@media (max-width: 500px) {
	.container {
		background-color: white
		width: 400px;
	}
}

@media (max-width: 760px) {
	.container {
		background-color: white
		width: 600px;
	}
}